################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ModelsProject/.vs/ModelsProject
/ModelsProject/obj
